
\.DS_Store


*/\.RData
*/\.RDataTmp
*/\.Rhistory
\.Rhistory

log/

misc/tmp/

.Rproj.user

code/setup/toLoad/\.RData
code/setup/toLoad/\.Rhistory

code/preprocessing/BiGG/data/processed/
code/preprocessing/BiGG/data/raw/
code/preprocessing/GTEx/data/
code/preprocessing/data-format-scripts/raw_data/
code/preprocessing/gene-hgnc-ensembl/data/

code/\.RData
code/code.Rproj
code/\.Rhistory
code/\.RDataTmp

data/
